.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 400px;
}

.addPhoto {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    width: 700px;
}