body {
    color: #fff;
    font-family: $fonts;
    overflow-x: hidden;
}

.container {
    padding: 10px;
    width: 100%;
}

.main-content {
    display: flex;
}

.section-half {
    display: flex;
    flex-direction: column;
}

.gallery-width {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fullscale-width {
    width: 70%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}